<h1>FastMARS</h1>
<p><%= link_to "最新の記事",  :action => "recent" %></p>
<p><%= link_to "最後に表示した記事",    :action => "last" %></p>
<p><%= link_to "twitter", :action => "twitter" %></p>
<p><%= link_to "signout", :action => "signout" %></p>
